DISCORD_TOKEN=${{DISCORD_TOKEN}}
GUILD_ID=${{GUILD_ID}}
REPORT_CHANNEL_ID=${{REPORT_CHANNEL_ID}}
DASHBOARD_PORT=${{DASHBOARD_PORT}}
DB_PATH=${{DB_PATH}}
TIMEZONE=${{TIMEZONE}}

ADMIN_ROLE_IDS=${{ADMIN_ROLE_IDS}}
AMBASSADOR_ROLE_IDS=${{AMBASSADOR_ROLE_IDS}}
AMBASSADOR_INVITE_CHANNEL_ID=${{AMBASSADOR_INVITE_CHANNEL_ID}}